.figure {
    width: 45%;
    padding-right: 50px;
}

.img {
    width: 100%;
    max-width: 700px;
    height: 400px;
    display: flex;
    justify-self: center;
    border-radius: 25px;
}

.figure figcaption {
    padding-top: 40px;
    font-size: 1.2lh;
    font-weight: 300;
    line-height: 1.8lh;
}
