.section {
    height: 60rem;
    font-family: "Lexend", sans-serif;
}

.header {
    display: flex;
    align-items: top;
}

.dash {
    width: 7.2vw;
    height: 0.6rem;
    margin-right: 1.3rem;
    border-bottom: 5px solid var(--primary-color);
}

.date {
    padding-bottom: 0.8rem;
    font-size: 1.2lh;
    font-weight: 300;
}

.company {
    padding-bottom: 0.8rem;
    font-size: 2lh;
}

.role {
    padding-bottom: 1.8rem;
    font-size: 1.2lh;
    font-weight: 300;
    color: var(--primary-color);
}

.btnView {
    display: inline-block;
    padding: 1rem 2.4rem;
    font-size: 1lh;
    color: var(--text-reverse-color);
    text-decoration: none;
    background-color: var(--primary-color);
    border-radius: 2rem;
    cursor: pointer;
}

.content {
    display: flex;
    padding-left: 7.6rem;
    padding-top: 2rem;
}

@media (max-width: 768px) {
    .section {
        height: 50rem;
    }

    .date {
        font-size: 1.2lh;
    }

    .company {
        font-size: 1.8lh;
    }

    .role {
        font-size: 1lh;
    }

    .btnView {
        width: 64vw;
        text-align: center;
    }

    .content {
        width: 82vw;
        overflow-x: scroll;
        padding-left: 3.2rem;
    }
}
