.navbar {
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 1000;
    height: 100px;
    padding-left: 150px;
    border-bottom: 2px solid var(--border-color);
    background-color: var(--blur-bg);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    font-family: "Lexend", sans-serif;
}

.navbarUl {
    display: flex;
    width: 50%;
}

.navbarItem {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.navbarLink {
    text-decoration: none;
    color: var(--text-color);
}

.navbarTitle {
    color: var(--primary-color);
    font-size: 22px;
    font-weight: bold;
}

.navbarIcons {
    display: flex;
    justify-content: end;
    width: 50%;
}

.logo {
    height: 1.5rem;
    width: 1.5rem;
    color: var(--text-color);
    display: inline-block;
    vertical-align: middle;
}

.svg {
    fill: var(--text-color);
}
